body {
  padding-top: 70px;
  width: 100%;
  height: 100%;
  font: 14px "Source Sans Pro", "Helvetica Neue", Helvetuca, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.post {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.odd {
  background-color: #f2f9ff;
}
.even {
  background-color: #eceff3;
}
.form-auth {
  max-width: 330px;
  padding: 5px;
  margin: 0 auto;
}
